/node_modules
/vendor
.env
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/bootstrap/cache
/public/hot
/public/storage
*.log
*.zip
admin_cookies.txt
AppData
Desktop
Documents
Downloads